<nav class="navbar navbar-light bg-light">
  <%= link_to cocktails_path, class: 'navbar-brand' do %>
    <span>Just drink it.</span><i class="fas fa-check"></i>
  <% end %>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
    <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-outline-dark my-2 my-sm-0" %>
  </form>
</nav>
<div class="banner" >
  <div class="container">
    <h1>Tomorrow <strong>you will wish</strong> you <strong>had drank today</strong>!</h1>
    <p>Sometimes greatness is about drinking insurmountable amount of alcohol. Sometimes it’s just fun.</p>
  </div>
</div>
<div class="container">
  <h1>Take a shot</h1>

  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </div>
    <% end %>

  </div>
</div>
